body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .paper {
    width: 60% !important;
  }

  .logo {
    width: 225px !important;
  }

  .text-field {
    width: 350px !important;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .paper {
    width: 70% !important;
  }

  .logo {
    width: 225px !important;
  }

  .text-field {
    width: 350px !important;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .logo {
    width: 200px !important;
  }

  .text-field {
    width: 300px !important;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .logo {
    width: 200px !important;
  }

  .text-field {
    width: 300px !important;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {



}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {



}
