<div class="punwave-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
  <header class="punwave-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
    <div class="mdl-layout__header-row">
      <img src="/img/brand.png" alt="Punwave">
      <span class="mdl-layout-title">Punwave</span>
    </div>
  </header>
  <div class="punwave-ribbon"></div>
  <main class="punwave-main mdl-layout__content">
    <div class="punwave-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="punwave-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col mdl-typography--text-center">
        <img src="/img/punwave.png" alt="Punwave" style="width: 180px">
        <form action="/oauth/authorize" method="POST">
          <div>
            <p><%= user.name %>,</p>
            <p>The application <b><%=client.name%></b> is requesting access to your account.</p>
            <p>Do you approve?</p>
            <input type="hidden" name="transaction_id" value="<%=transactionID%>">
            <input type="hidden" name="scope" value="<%=scope%>">
            <input type="submit" value="Accept" id="allow" class="mdl-button mdl-button--primary mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            <input type="submit" value="Deny" name="cancel" id="deny" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          </div>
        </form>
      </div>
    </div>
    <div class="mdl-layout-spacer"></div>
    <footer class="punwave-footer mdl-mini-footer">
      <div class="mdl-title"></div>
      <div>© 2016 Wavenet Technology Company Limited.</div>
    </footer>
  </main>
</div>