<div class="punwave-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
  <header class="punwave-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
    <div class="mdl-layout__header-row">
      <img src="/img/brand.png" alt="Punwave">
      <span class="mdl-layout-title">Punwave</span>
    </div>
  </header>
  <div class="punwave-ribbon"></div>
  <main class="punwave-main mdl-layout__content">
    <div class="punwave-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="punwave-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col mdl-typography--text-center">
        <img src="/img/punwave.png" alt="Punwave" style="width: 180px">
        <% if (success.length) { %>
          <p><%= message %></p>
          <a href="/login" class="mdl-button mdl-button--primary mdl-js-button mdl-button--raised mdl-js-ripple-effect">Retrun to Login</a>
        <% } else { %>
          <p><%= message %></p>
          <% errors.forEach(function (error) { %>
            <p><%= error.message %></p>
          <% }) %>
          <p>Enter your email address and we will send you a link to reset your password.</p>
          <form action="/forgot" method="POST">
            <div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="email" name="email" id="email">
                <label class="mdl-textfield__label" for="email">Email</label>
                <span class="mdl-textfield__error">Please enter a valid email address.</span>
              </div>
            </div>
            <div class="form-actions">
              <p><button type="submit" class="mdl-button mdl-button--primary mdl-js-button mdl-button--raised mdl-js-ripple-effect">Send Password Reset Email</button></p>
            </div>
          </form>
        <% } %>
      </div>
    </div>
    <div class="mdl-layout-spacer"></div>
    <footer class="punwave-footer mdl-mini-footer">
      <div class="mdl-title"></div>
      <div>© 2016 Wavenet Technology Company Limited.</div>
    </footer>
  </main>
</div>